@font-face {
    font-family: "Marko One";
    src: url(../fonts/MarkoOne-Regular.ttf);
}


@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: "Cinzel";
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Inknut Antiqua";
    src: url(../fonts/InknutAntiqua-Regular.ttf);
}
